body {
  align-items: center;
  background-color:black;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
h1 {
  color: rgb(0, 255, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: .5rem;
  text-align: center;
}
p {
  color: rgb(0, 255, 0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .1rem;
  text-align: center;
}